

button {
  position: relative;
  z-index: 10;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #fbbf24; /* Darker yellow on click */
}




p,
a {
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .spinner {
    width: 48px;
    height: 48px;
  }

  button {
    font-size: 14px;
    padding: 12px;
  }
}



@keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  
  .animate-progress {
    animation: progress 2s ease-in-out infinite;
  }